*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
#war/WEB-INF/lib/

#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/

#gwt junit compilation files
www-test/

#old GWT (1.5) created this dir
.gwt-tmp/
war/inminddprofiler/
war/Score/
.classpath
.settings/org.eclipse.jdt.core.prefs
/bin

war/Goals/
war/RiskFactorInfos/
war/WEB-INF/lib/gwt-servlet.jar
war/LandingPage/
war/FAQ/
war/Experts/
war/Apps/
war/Contact/
war/Admin/

# Intellij Project Files
*.iml
.idea

# Eclipse project Files
.classpath
.project
.settings

# GWT files
.gwt

