/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');
@import url("nav.css");

/* custom template */
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#main {
    background-color:#fefefe;
}
#main .img-circle, #main .img-picto {
  height:150px;
  width:150px;
  -webkit-transition:width 1s, height 1s; /* For Safari 3.1 to 6.0 */
  transition:width 0.5s, height 0.5s;
  transition-timing-function: ease;
}

#main .img-circle:hover, #main .img-picto:hover {
  height:250px;
  width:250px;
}

#sidebar {
    background-color:transparent;
}


#sidebar, #sidebar a {
    color:#ffffff;
	text-shadow:1px 0 1px #888888;
}

/* bootstrap overrides */

h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

h4 {
  margin-top: 30px; margin-bottom: 0px;
}



#ios-arrow-left {
    cursor:pointer;
    display : block; 
    position:absolute;
    z-index : 0;
    left:50px;
    top:50px;    
    height:30px;
    width:auto;
    padding: 0 10px 0 6px;
    background-repeat:repeat-x;
    background-size : 100% 30px;
    background-position :0;
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
                0 1px 2px rgba(0,0,0,0.8)inset;
    font-family : Calibri;
    font-weight: 400;
    font-size : 12px;
    line-height : 30px;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
    text-decoration:none;
}
#ios-arrow-left:before{
    position:absolute;
    content : ' ';
    left:-8px;
    top:3.5px;
    height : 24px;
    width: 24px;
    z-index : 1;
    background-repeat:repeat-x;
    background-size : 20px 20px;
    background-position :-1px -0.5px;
    background-image :  
        -webkit-gradient(linear, left bottom, right top, 
            from(rgba(0,0,0,0)), 
            color-stop(0.5, rgba(0,0,0,0)), 
            color-stop(0.5, rgba(255,255,255,0.1)), 
            to(rgba(255,255,255,0.3))); 
    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
    border-top-right-radius : 10px;
    border-top-left-radius :0px;
    border-bottom-right-radius : 0px;
    border-bottom-left-radius : 10px;
    border-left : 1.5px solid rgba(255,255,255,0.4);
    box-shadow :  1px 1px 1px rgba(0,0,0,0.4) inset,
        -1px 1px 1px rgba(0,0,0,0.5) inset;
    -webkit-mask-image : 
        -webkit-gradient(linear, left top, right bottom,
            from(#000000), 
            color-stop(0.4,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
}


#ios-arrow-left,
#ios-arrow-left:before {
    background-color: rgba(74,108,155,1);/*normalcolor*/
}

#ios-arrow-left:hover,
#ios-arrow-left:hover:before {
    background-color: rgba(54,88,135,1);/*hovercolor*/
}


#email_enter_error /*The error message on the admin page for adding emails*/
{
	border:none;
}