.gwt-TabLayoutPanel{
   width: 100%;
   height: 90%;
   margin: 15px;
 
}

H1 {
	font-family: Verdana, sans-serif;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 5px 0;
	background-color: #323B38;
	width: 100%;
}

.htmlPanel{
	background-color : white;
	
	margin-left:10px;
}



.quest {
	float: right
}

.flow {
	float: left;
}
.paddedTextBox {
      padding: 3px 3px 3px 3px;
      background-color : white;
	
	margin-left:10px;
}



#search{
   margin-left: 15px;
}

@external gwt-TabLayoutPanelTab;
.gwt-TabLayoutPanelTab {
    font-weight:normal !important;
    margin-top: 2px;
    padding: 8px 6px !important; 
   
}

.feedback{
   color: white;
   height: 250px;
   position: absolute;
   top: 35%;
   right: 0%;
}

.normal{
   background: darkgreen;
   width: 40px;
}

.active{
   background: lightgreen;
   width: 70px;
   cursor: pointer;
   cursor: hand;
}
.logo{
	background-color: #323B38;
}

.invalid {
	color: red;
}
.greybg{
	background-color:#c0c0c0;
}

.whitebg {
	background-color:white;
}

.gwt-TabPanel {
        color: #33333;
} 

.pos1 {	
	position:absolute;
	left: 550px;
}

.pos2 {	
	position:absolute;
	left: 650px;
}

.pos3 {	
	position:absolute;
	left: 1000px;
}

.pos4 {	
	position:absolute;
	left: 570px;
}

.pos5 {	
	position:absolute;
	left: 480px;
}

.pos6 {	
	position:absolute;
	left: 520px;
}

.pos7 {	
	position:absolute;
	left: 720px;
}

.pos8 {	
	position:absolute;
	left: 760px;
}

.pos9 {	
	position:absolute;
	left: 310px;
}

.pos10 {	
	position:absolute;
	left: 640px;
}

.pos11 {	
	position:absolute;
	left: 790px;
}

.pos12 {	
	position:absolute;
	left: 1100px;
}