<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>Inmindd</servlet-name>
    <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Inmindd</servlet-name>
    <url-pattern>/inminddprofiler/Inmindd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InminddScore</servlet-name>
    <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InminddScore</servlet-name>
    <url-pattern>/Score/Inmindd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InminddGoals</servlet-name>
    <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InminddGoals</servlet-name>
    <url-pattern>/Goals/Inmindd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InminddRiskFactorInfos</servlet-name>
    <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InminddRiskFactorInfos</servlet-name>
    <url-pattern>/RiskFactorInfos/Inmindd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InminddLandingPage</servlet-name>
    <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InminddLandingPage</servlet-name>
    <url-pattern>/LandingPage/Inmindd</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>InminddFAQ</servlet-name>
    <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InminddFAQ</servlet-name>
    <url-pattern>/FAQ/Inmindd</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>InminddExperts</servlet-name>
    <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InminddExperts</servlet-name>
    <url-pattern>/Experts/Inmindd</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>InminddApps</servlet-name>
    <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InminddApps</servlet-name>
    <url-pattern>/Apps/Inmindd</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>InminddContact</servlet-name>
    <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InminddContact</servlet-name>
    <url-pattern>/Contact/Inmindd</url-pattern>
  </servlet-mapping>
    
    
    
  <servlet>
    <servlet-name>InminddAdmin</servlet-name>
    <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InminddAdmin</servlet-name>
    <url-pattern>/Admin/Inmindd</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>PrivacyPolicy</servlet-name>
      <servlet-class>com.inmindd.dcu.server.InminddServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>PrivacyPolicy</servlet-name>
      <url-pattern>/PrivacyPolicy</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EmailCron</servlet-name>
  	<servlet-class>com.inmindd.dcu.server.EmailCron</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmailCron</servlet-name>
  	<url-pattern>/cron/email</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>  
</web-app>


